<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="images/logo/favicon.ico" type="image/x-icon">
<title>{title}</title>
<meta name="description" content="{description}">
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-pen.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="styles/style.css"> -->
<link rel="stylesheet" href="styles/style.min.css">
<link rel="stylesheet" href="styles/style_added.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/form.js"></script>