<div id="top">
  <div class="logo">
    <a href="main.php"><img src="images/logo/logo2.png"></a>
  </div>
  <div class="dropwhere">
    <div class="dropdown-btn"><p>어디로 가세요? ▽</p>
    <div class="dropwhere-cont">
      <p><a href="?page=place&category=국내">국내여행지</a></p>
      <p><a href="?page=place&category=해외">해외여행지</a></p>
      <p><a href="#">추천투어</a></p>
      <p><a href="#">블로그</a></p>
      <p><a href="#">커뮤니티</a></p>
    </div><!-- dropwhere-cont -->
    </div> 
  </div><!-- dropwhere -->
  <div class="right">
    <P><a href="#">회사소개</a></P>
    <P><a href="#">공지사항</a></P>
    <P><a href="#">내여행</a></P>
    <P><a href="#">로그인</a></P>
  </div><!-- right -->
</div><!-- top -->