<div id="top">
  <div class="logo">
    <a href="index.php"><img src="images/logo/logo2.png"></a>
  </div>
  <div class="dropwhere">
    <div class="dropdown-btn"><p>어디로 가세요? ▽</p>
    <div class="dropwhere-cont">
      <a href="?page=place&category=국내"><p>국내여행지</p></a>
      <a href="?page=place&category=해외"><p>해외여행지</p></a>
      <a href="?page=place&category=추천"><p>추천투어</p></a>
      <!-- <a href="#"><p>블로그</p></a> -->
      <a href="?page=place"><p>커뮤니티</p></a>
    </div><!-- dropwhere-cont -->
    </div> 
  </div><!-- dropwhere -->
  <div class="right">
    <a href="?page=about"><p>회사소개</p></a>
    <a href="?page=board&category=notice"><p>공지사항</p></a>
    <a href="?page=member&action=mypage"><p>내여행</p></a>
    <a href="?page=member&action=login"><p>로그인</p></a>
  </div><!-- right -->
</div><!-- top -->