#message {
  width: 100%;
  .log {
    padding: 5px 10px;
    background-color: gray;
    color: white;
    font-size: 0.9em;
    text-align: center;
    &.info {
      background-color: gray;
    }
    &.success {
      background-color: green;
    }
    &.error {
      background-color: red;
    }
  }
}