*{margin: 0;padding: 0;list-style: none; color: #666;
  /*  font-family: 'NanumSquareRoundLight'; */
    font-family: 'NanumSquareRound';
  /*  font-family: 'NanumSquareRoundBold'; */
  /*  font-family: 'NanumSquareRoundExtraBold' */;
}
a{text-decoration: none;color: inherit;}
p{font-size: 1em; color: #666;font-family: 'NanumSquareRound';}
header{width: 100%; min-width: 960px; height: 60px;margin: auto;
          position: relative;background-color: white;opacity: 100%;}
header::after {content: "";
    display: block;
    clear: both;}
.top{float: left; opacity: 100%; position: fixed;}
.logo{width: 300px;height: 60px;padding: 10px 20px;padding-left: 40px; float: left;}
.logo img{width: 300px; height: auto;}
.dropwhere{width: 100px;height: 60px;float: left;}
.dropdown-btn{width: 200px;height: 60px;line-height: 60px;float: left;}
.dropdown-btn p:hover{color: #333;cursor: pointer;font-weight: bold;}
.dropwhere-cont{width: 100px; line-height: 30px; display: none;
                border: 1px solid rgb(200, 200, 200); padding: 20px;
                background-color: #fff; z-index: 99;
            }
.dropdown-btn:hover .dropwhere-cont{
  display: block;
}                
.dropwhere-cont p:hover{color: #333;cursor: pointer;
    font-weight: bold;transition: all 0.4s;}
.right{width: 400px;height: 60px;float: right; line-height: 60px;
    justify-content: space-between;
    align-items: center;      
}
.right p{width: 100px;float: left;}
.right p:hover{color: #333;cursor: pointer;
    font-weight: bold;transition: all 0.4s;}
#bodycolor{width: 100%;height: auto;}
#bodycolor::after {content: "";
    display: block;
    clear: both;}
#content{width: 960px; height: auto;margin: auto;text-align: center;}  
.search{width: 960px; height: 180px; text-align: center;
    margin: auto;padding-top: 30px;}
.search-box{width: 600px; height: 150px; border: 1px solid rgb(200, 200, 200); 
             border-radius: 20px; margin: auto;}
.search-top{width: 500px;height: 20px; margin: auto;
    margin-top: 10px;margin-bottom: 5px;
    text-align: center;}
.pp1{width: 240px;height: 30px; 
    float: left; line-height: 30px;border-bottom: 1px solid #999;}
.pp1:hover{color: #F26E62;cursor: pointer;border-bottom: 2px solid #F26E62;
    font-weight: bold;transition: all 0.3s;}
.search-bottom{width: 500px;height: 60px; margin: auto;}

.table1{margin: auto;}
.table1 input[type=text]{border: 1px solid rgb(200, 200, 200);
    font-size: 1.2em;
    padding: 5px; border-radius: 5px;
}
.table1 input[type=text]:hover{background-color: rgb(200, 200, 200);
}
.table1 input[type=button]{border: none;font-size: 1em;
    background-color: #F26E62;color: #fff;opacity: 70%;
    padding: 10px; border-radius: 10px;}
.table1 input[type=button]:hover{cursor: pointer;
    transition: all 0.4s;opacity: 100%;}



.main-event{width: 960px;height: 600px;overflow: hidden;position: relative;}
.main-event-img{width: 960px;height: 600px;overflow: hidden;}
.main-event-img img{width: 960px;height: auto;}
.main-event-write{position: absolute;width: 560px;height: 400px;top: 80px;
    left: 200px;}
.pp2{font-size: 4em;color: #2a0528;margin-bottom: 30px;font-family: 'NanumPen';
    }
.pp3{font-size: 1.5em;color: #2a0528;font-weight: bold;}    
.main-event-button{ width: 140px;height: 50px; left:410px;
    position: absolute;bottom: 100px; border: 2px solid #2a0528;
    border-radius: 25px;
}
.main-event-button input[type=button]{
    padding: 15px; color: #2a0528; font-weight: bold;
    border: none;font-size: 1.2em;background-color: Transparent;
    }
.main-event-button:hover{background-color: rgba(255,255,255,0.3);
       font-size: 1.1em; }
.helper, .promotion, .theme{width: 200px;height: 50px;border-bottom: 1px solid #999; 
    line-height: 70px; margin: auto;margin-bottom: 10px;}
.helper p, .promotion p, .theme p{font-size: 1.2em;font-weight: bold;}
.helper-cont{width: 960px;height: 72px;}
.helper-cont>div {width: 300px;height: 60px;margin:5px;border: 1px solid rgb(200, 200, 200); 
    border-radius: 10px;line-height: 60px;float: left;position: relative;
                 }
.helper-cont>div img{width:30px;height: auto;position: absolute;top: 14px;left:50px}
.helper-cont>div:first-child img{width: 40px;top: 16px;}

.helper-cont>div p{float: left;position: absolute;top: 0px; left: 130px;font-size: 1.1em;}
.helper-cont>div:first-child p{left: 150px;}
.helper-cont>div p:hover{font-weight: bold;}


.promotion-cont{width: 960px;height: 150px;
    justify-content: space-between;
    align-items: center; 
               }
.promo-left{width: 590px;height: 150px; float: left; 
    position: relative; overflow: hidden; }
.promo-left a>img{position: absolute;width: 590px;height: auto;bottom: -90px;left: 0;filter: brightness(50%);}
.promo-left a>p{position: absolute; bottom: 10px;left: 10px;
               color: #fff;}

.promo-right{width: 350px;height: 150px; float: right; 
    position: relative;overflow: hidden;}
.p-box1{position: absolute;width: 300px;height: 120px;bottom: 15px;left: 25px; 
         background-color: #F26E62}    
.promo-right a>img{position: absolute;width: 500px;height: auto;bottom: -20px;left: 0;filter: blur(3px);filter: grayscale(100%); }
.promo-right p{position:  relative;width: 350px;top: 25px;line-height: 30px;
  color: #fff; }


.theme-cont{width: 960px; height: 500px;
    text-align: center; position: relative; margin-top: 20px;}
    
.theme-icons{position: absolute;width: 400px; height: 100px;
    top: 0;right: 280px;
    display: flex; flex-wrap: wrap;justify-content: space-between;
    align-items: center; }
.t-icon{position: relative;width: 130px;height: 100px;margin: 0;}
.t-img1{position: absolute;left: 30px; width: 70px;height: 70px;background-color: #F26E62;border-radius: 35px;}
.t-img1 img{width: 50px;height: auto;position: absolute;top: 10px;left: 10px;}
.t-icon p{margin-top: 80px;font-weight: bold;}
.t-icon:hover{opacity: 70%;transition: all 0.4s;cursor: pointer;}

.theme-imgs{position: absolute;top: 120px;
    width: 960px;height: 300px; }
.fake{width: 960px;height: 300px;
    display: flex; flex-wrap: wrap;justify-content: space-between;align-items: center;}    
.theme-imgs1{display: block;}
.theme-imgs2{display:none;}
.theme-imgs3{display: none;}

.t-images{width: 300px;height: 300px;overflow: hidden;border-radius: 20px;
         position: relative;}
.t-img{width: 300px;height: 200px;overflow: hidden;margin-bottom: 10px;}
.t-img img{width: 145%;height: auto; }
.t-images p{text-align: left; padding-left: 10px; line-height: 20px;}
.t-images p:hover{font-weight: bold;}
.hash{background-color: #999;padding: 5px;
    font-size: 0.8em;border-radius: 5px;
    float: left;color: #fff;margin: 5px;}

    #bodycolor::after {content: "";
        display: block;
        clear: both;}

/* k-place.html css시작 */

.location{width: 700px;height: auto;padding: 0 50px;}
.location ul>li{float: left; padding: 0 5px 0 5px; margin: 7px 4px; border-right: 1px solid #999;}
.location ul>li:first-child{margin-left: 0; font-weight: bold; border-right: 2px solid #999;}
.location ul>li:last-child{ border-right: none;}
.location ul{ float: left;  overflow: auto;  }
.location ul>li:hover{opacity: 80%;}

.k-product{width: 200px;height: 50px;border-bottom: 1px solid #999; 
    line-height: 70px; margin: auto;margin-bottom: 30px;}
.k-product p{font-size: 1.2em;font-weight: bold;}
.t-images1 p{text-align: left;}
.t-images1 p:hover{font-weight: bold;}
.k-product-cont{width: 960px;height: auto;
    display: flex; flex-wrap: wrap;
    justify-content: space-between;align-items: center;}
.t-images1{width: 300px;height: 300px;overflow: hidden;
         border-radius: 20px;
         position: relative;padding-bottom: 30px;}
.morebox{width: 960px; height: 100px; line-height: 100px;position: relative;}         
.more1{ position: absolute; left:430px;
        width: 100px;height: 30px; border-radius: 50%;font-weight: bold;
        border: 2px solid #999; float: left;line-height: 30px;}
.more1:hover{border: 2px solid #F26E62;}
.more1 p:hover{color: #F26E62;}

/* k-place.html css끝 */
/* detail.html css 시작 */
.detail-top{width: 960px;height: 50px;display: flex; flex-wrap: wrap;}
.detail-title{width: 600px;height: 50px;float: left;text-align: left;}
.detail-title p{font-size: 1.2em;
    border-left: 5px solid #999;
    padding-left: 10px;
}
.detail-location{width: 360px;height: 50px;display: flex; flex-wrap: wrap;float: left;}
.detail-location p{padding: 1px;}
.location-icon{float: left;width: 50px;}
.location-icon img{width: 20px;height: auto;}

.detail-second{width: 960px;height: 300px;display: flex; flex-wrap: wrap;
    border-bottom: 1px solid #999; margin-bottom: 30px;}
.second-left{width: 450px;height: 300px;border-radius: 20px;overflow: hidden;}
.left-img{width: 450px;height: 250px; overflow: hidden;}
.left-img img{width: 450px;height: auto;}
.detail-hash{width: 300px;margin-top: 10px;}
.second-right{width: 450px; height: 280px; border: 1px solid #999; 
    border-radius: 20px; margin-left: 50px;}
.explain1 {width: 400px;padding: 24px;text-align: left; line-height: 30px;}

.detail-imgs{width: 960px; height: 700px;} 
.detail-imgs-top{width: 960px; height: 190px;display: flex;
    flex-wrap: wrap;float: left;}
.d-sumnails{width: 160px; height: 160px; margin: 15px; overflow: hidden;}
.d-sumnails:hover{filter: grayscale(100%);opacity: 80%;cursor: pointer;transition: all 0.4s;}
.dsum1, .dsum2, .dsum3, .dsum4, .dsum5{width: 160px;height: 160px;}

.dsum1 img, .dsum2 img, .dsum3 img, .dsum4 img, .dsum5 img{width: auto; height: 100%;}
.detail-img-bottom1{display: block; width: 920px; height: 500px;overflow: hidden;margin: 20px;}
.detail-img-bottom2, .detail-img-bottom3, .detail-img-bottom4, 
.detail-img-bottom5{display: none; width: 920px; height: 500px;overflow: hidden;margin: 20px;}
.detail-img-bottom1 img, .detail-img-bottom2 img, .detail-img-bottom3 img, 
.detail-img-bottom4 img, .detail-img-bottom5 img{width: 960px; height: auto;}

.blank1{width: 960px;height: 30px;border-bottom: 1px solid #999;}

.detail-bottom{width: 960px;min-height: 700px;margin-top: 30px;}
.detail-where{width: 630px;height: 300px;float: left;
               border-radius: 30px;overflow: hidden;
              display: flex;flex-wrap: wrap;}
.d-where-title{width:100px;height:300px;padding: 30px;background-color: rgba(230, 230, 230,0.5);
    float: left;         
    line-height: 35px;}
.d-where-title p
.d-where-info{ float: left;}
.d-where-info p{width: 430px;height: 60px; text-align: left; 
    margin: 10px;}

.price-box{width: 300px;height: 500px;float: right;border: 1px solid #999;
     margin-left: 20px;border-radius: 30px;}
.p-b-title{margin: 15px 0 ;width: 300px;height: 50px;}
.p-b-title p
.p-b-box{width: 300px;height: 50px;display: flex;flex-wrap: wrap;}
.p-b-date{width: 150px;height: 50px;float: left;}
.sel-date{width: 150px; padding: 11px; background-color: #999; 
         border: none;float: left;margin-left: 20px;
         color: #fff;border-radius: 10px;}
.sel-date option{color: #fff;}
.sel-date option:hover{color: #fff;background-color: #666;}
.p-b-review{float: left;margin-left: 40px;width: 50px;height: 20px;
    background-color: #F26E62;padding: 10px;border-radius: 10px;opacity: 80%;}
.p-b-review p{color: #fff;font-weight: bold;}
.p-b-review:hover{opacity: 100%;cursor: pointer;}
.p-b-share{ width: 300px;height: 50px;display: flex;flex-wrap: wrap;
         margin-bottom: 20px;}
.share1{float: right;margin: 5px 5px;margin-left: 15px;
    background-color: #F26E62;padding: 10px;border-radius: 10px;opacity: 80%;}
.share1 p{color: #fff;line-height: 30px;}
.share1 img{width: 30px;height: auto;}
.share1:last-child img{width: auto;height: 30px;}
.share1:hover{opacity: 100%;cursor: pointer;}
.adult-num, .kid-num{width: 200px;height: 50px;margin: 0 50px;}
.adult-num{border-top: 1px solid #999;padding-top: 20px;}
.num{float: left;}
.num p{line-height: 40px;}
.sel-adult-num, .sel-kid-num{padding: 10px; background-color: #999; 
    border: none;float: left;margin-left: 20px;
    color: #fff;border-radius: 10px;}
.sel-adult-num option, .sel-kid-num  option{color: #fff;}
.sel-adult-num option:hover, .sel-kid-num  option:hover{color: #fff;background-color: #666;}

.line{ width: 200px;height: 10px;border-bottom: 1px solid #999;margin: 0 50px 20px 50px;}

.price-total{margin: 0 25px;width: 250px;height: 50px;display: flex;flex-wrap: wrap;}
.price-total p{padding: 10px;color: #F26E62;text-align: center;}
.price-total p:nth-child(2){font-size: 1.3em;font-weight: bold;color: #F26E62;}
.price-save{padding-left: 25px; width: 250px;height: 50px;display: flex;flex-wrap: wrap;}
.p-save{float: right;margin: 5px 5px;margin-left: 15px;
    background-color: #F26E62;padding: 10px;border-radius: 10px;opacity: 80%;}
.p-save:hover{opacity: 100%;cursor: pointer;}
.p-save img{width: 30px;height: auto;}
.p-save1{float: right;margin: 5px 5px;margin-left: 15px;
    background-color: #F26E62;padding: 10px;border-radius: 10px;opacity: 80%;}
.p-save1 p{color: #fff;line-height: 30px;}
.p-save1:hover{opacity: 100%;cursor: pointer;}

.detail-bottom-left{float: left;}
.goods-code{margin-top: 20px;width: 630px;min-height: 200px;float: left;}
.goods-code p{line-height: 25px;text-align: left;}
.goods-code p:first-child{float: left;}
.goods-code p:nth-child(2){border-bottom: 1px solid #999;margin-bottom: 10px;}


/* detail.html css 끝 */

footer{width: 100%;height: 150px;margin: auto;min-width: 960px;
    color: #999; border-top: 1px solid #999; position: relative; }

.bottom-logo{width: 100px;height: 60px;padding: 0 20px;
    padding-left: 20px;}
.bottom-logo img{width: 80px;height: auto;}    
.bottom-logo img:hover{opacity: 80%; transition: all 0.4s;}  
.policy{float: left; width: 600px;height: 40px;padding: 5px;
justify-content: space-between;
align-items: center;}
.policy p{float: left;font-size:0.9em}
.policy p:hover{font-weight: bold;cursor: pointer;opacity: 70%;}
.c-info{float: left; width: 500px;height: 60px;
    padding-left: 120px;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;}
.c-info p{float: left;font-size: 0.8em;}
.social{float: right;padding-right: 30px;width: 250px;height: auto;
    justify-content: space-between;
    align-items: center;}
.s-icon{width: 50px;margin: auto;float: left;}
.social-text{float: right;width: 250px;height: 40px;margin-top:-40px;}
.social-text p{font-weight: bold;}

.clear{clear:both;}  