* {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #666;
	font-family: 'NanumSquareRound';
}
a {
	text-decoration: none;
	color: inherit;
}
p {
	font-size: 1em;
	color: #666;
	font-family: 'NanumSquareRound';
}
header {
	width: 100%;
	min-width: 960px;
	height: 60px;
	margin: auto;
	position: relative;
	background-color: white;
	opacity: 100%;
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}
.top {
	float: left;
	opacity: 100%;
	position: fixed;
}
.logo {
	width: 300px;
	height: 60px;
	padding: 10px 20px;
	padding-left: 40px;
	float: left;
	img {
		width: 300px;
		height: auto;
	}
}
.dropwhere {
	width: 100px;
	height: 60px;
	float: left;
}
.dropdown-btn {
	width: 200px;
	height: 60px;
	line-height: 60px;
	float: left;
	p {
		&:hover {
			color: #333;
			cursor: pointer;
			font-weight: bold;
		}
	}
	&:hover {
		.dropwhere-cont {
			display: block;
		}
	}
}
.dropwhere-cont {
	width: 100px;
	line-height: 30px;
	display: none;
	border: 1px solid rgb(200, 200, 200);
	padding: 20px;
	background-color: #fff;
	z-index: 99;
	p {
		&:hover {
			color: #333;
			cursor: pointer;
			font-weight: bold;
			transition: all 0.4s;
		}
	}
}
.right {
	width: 400px;
	height: 60px;
	float: right;
	line-height: 60px;
	justify-content: space-between;
	align-items: center;
	p {
		width: 100px;
		float: left;
		&:hover {
			color: #333;
			cursor: pointer;
			font-weight: bold;
			transition: all 0.4s;
		}
	}
}
#bodycolor {
	width: 100%;
	height: auto;
	&::after {
		content: "";
		display: block;
		clear: both;
		content: "";
		display: block;
		clear: both;
	}
}
#content {
	width: 960px;
	height: auto;
	margin: auto;
	text-align: center;
}
.search {
	width: 960px;
	height: 180px;
	text-align: center;
	margin: auto;
	padding-top: 30px;
}
.search-box {
	width: 600px;
	height: 150px;
	border: 1px solid rgb(200, 200, 200);
	border-radius: 20px;
	margin: auto;
}
.search-top {
	width: 500px;
	height: 20px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 5px;
	text-align: center;
}
.pp1 {
	width: 240px;
	height: 30px;
	float: left;
	line-height: 30px;
	border-bottom: 1px solid #999;
	&:hover {
		color: #F26E62;
		cursor: pointer;
		border-bottom: 2px solid #F26E62;
		font-weight: bold;
		transition: all 0.3s;
	}
}
.search-bottom {
	width: 500px;
	height: 60px;
	margin: auto;
}
.table1 {
	margin: auto;
	input[type=text] {
		border: 1px solid rgb(200, 200, 200);
		font-size: 1.2em;
		padding: 5px;
		border-radius: 5px;
		&:hover {
			background-color: rgb(200, 200, 200);
		}
	}
	input[type=button] {
		border: none;
		font-size: 1em;
		background-color: #F26E62;
		color: #fff;
		opacity: 70%;
		padding: 10px;
		border-radius: 10px;
		&:hover {
			cursor: pointer;
			transition: all 0.4s;
			opacity: 100%;
		}
	}
}
.main-event {
	width: 960px;
	height: 600px;
	overflow: hidden;
	position: relative;
}
.main-event-img {
	width: 960px;
	height: 600px;
	overflow: hidden;
	img {
		width: 960px;
		height: auto;
	}
}
.main-event-write {
	position: absolute;
	width: 560px;
	height: 400px;
	top: 80px;
	left: 200px;
}
.pp2 {
	font-size: 4em;
	color: #2a0528;
	margin-bottom: 30px;
	font-family: 'NanumPen';
}
.pp3 {
	font-size: 1.5em;
	color: #2a0528;
	font-weight: bold;
}
.main-event-button {
	width: 140px;
	height: 50px;
	left: 410px;
	position: absolute;
	bottom: 100px;
	border: 2px solid #2a0528;
	border-radius: 25px;
	input[type=button] {
		padding: 15px;
		color: #2a0528;
		font-weight: bold;
		border: none;
		font-size: 1.2em;
		background-color: Transparent;
	}
	&:hover {
		background-color: rgba(255,255,255,0.3);
		font-size: 1.1em;
	}
}
.helper {
	width: 200px;
	height: 50px;
	border-bottom: 1px solid #999;
	line-height: 70px;
	margin: auto;
	margin-bottom: 10px;
	p {
		font-size: 1.2em;
		font-weight: bold;
	}
}
.promotion {
	width: 200px;
	height: 50px;
	border-bottom: 1px solid #999;
	line-height: 70px;
	margin: auto;
	margin-bottom: 10px;
	p {
		font-size: 1.2em;
		font-weight: bold;
	}
}
.theme {
	width: 200px;
	height: 50px;
	border-bottom: 1px solid #999;
	line-height: 70px;
	margin: auto;
	margin-bottom: 10px;
	p {
		font-size: 1.2em;
		font-weight: bold;
	}
}
.helper-cont {
	width: 960px;
	height: 72px;
	>div {
		width: 300px;
		height: 60px;
		margin: 5px;
		border: 1px solid rgb(200, 200, 200);
		border-radius: 10px;
		line-height: 60px;
		float: left;
		position: relative;
		img {
			width: 30px;
			height: auto;
			position: absolute;
			top: 14px;
			left: 50px;
		}
		&:first-child {
			img {
				width: 40px;
				top: 16px;
			}
			p {
				left: 150px;
			}
		}
		p {
			float: left;
			position: absolute;
			top: 0px;
			left: 130px;
			font-size: 1.1em;
			&:hover {
				font-weight: bold;
			}
		}
	}
}
.promotion-cont {
	width: 960px;
	height: 150px;
	justify-content: space-between;
	align-items: center;
}
.promo-left {
	width: 590px;
	height: 150px;
	float: left;
	position: relative;
	overflow: hidden;
	a {
		>img {
			position: absolute;
			width: 590px;
			height: auto;
			bottom: -90px;
			left: 0;
			filter: brightness(50%);
		}
		>p {
			position: absolute;
			bottom: 10px;
			left: 10px;
			color: #fff;
		}
	}
}
.promo-right {
	width: 350px;
	height: 150px;
	float: right;
	position: relative;
	overflow: hidden;
	a {
		>img {
			position: absolute;
			width: 500px;
			height: auto;
			bottom: -20px;
			left: 0;
			filter: blur(3px);
			filter: grayscale(100%);
		}
	}
	p {
		position: relative;
		width: 350px;
		top: 25px;
		line-height: 30px;
		color: #fff;
	}
}
.p-box1 {
	position: absolute;
	width: 300px;
	height: 120px;
	bottom: 15px;
	left: 25px;
	background-color: #F26E62;
}
.theme-cont {
	width: 960px;
	height: 500px;
	text-align: center;
	position: relative;
	margin-top: 20px;
}
.theme-icons {
	position: absolute;
	width: 400px;
	height: 100px;
	top: 0;
	right: 280px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.t-icon {
	position: relative;
	width: 130px;
	height: 100px;
	margin: 0;
	p {
		margin-top: 80px;
		font-weight: bold;
	}
	&:hover {
		opacity: 70%;
		transition: all 0.4s;
		cursor: pointer;
	}
}
.t-img1 {
	position: absolute;
	left: 30px;
	width: 70px;
	height: 70px;
	background-color: #F26E62;
	border-radius: 35px;
	img {
		width: 50px;
		height: auto;
		position: absolute;
		top: 10px;
		left: 10px;
	}
}
.theme-imgs {
	position: absolute;
	top: 120px;
	width: 960px;
	height: 300px;
}
.fake {
	width: 960px;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.theme-imgs1 {
	display: block;
}
.theme-imgs2 {
	display: none;
}
.theme-imgs3 {
	display: none;
}
.t-images {
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	p {
		text-align: left;
		padding-left: 10px;
		line-height: 20px;
		&:hover {
			font-weight: bold;
		}
	}
}
.t-img {
	width: 300px;
	height: 200px;
	overflow: hidden;
	margin-bottom: 10px;
	img {
		width: 145%;
		height: auto;
	}
}
.hash {
	background-color: #999;
	padding: 5px;
	font-size: 0.8em;
	border-radius: 5px;
	float: left;
	color: #fff;
	margin: 5px;
}
.location {
	width: 700px;
	height: auto;
	padding: 0 50px;
	ul {
		>li {
			float: left;
			padding: 0 5px 0 5px;
			margin: 7px 4px;
			border-right: 1px solid #999;
			&:first-child {
				margin-left: 0;
				font-weight: bold;
				border-right: 2px solid #999;
			}
			&:last-child {
				border-right: none;
			}
			&:hover {
				opacity: 80%;
			}
		}
		float: left;
		overflow: auto;
	}
}
.k-product {
	width: 200px;
	height: 50px;
	border-bottom: 1px solid #999;
	line-height: 70px;
	margin: auto;
	margin-bottom: 30px;
	p {
		font-size: 1.2em;
		font-weight: bold;
	}
}
.t-images1 {
	p {
		text-align: left;
		&:hover {
			font-weight: bold;
		}
	}
	width: 300px;
	height: 300px;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	padding-bottom: 30px;
}
.k-product-cont {
	width: 960px;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.morebox {
	width: 960px;
	height: 100px;
	line-height: 100px;
	position: relative;
}
.more1 {
	position: absolute;
	left: 430px;
	width: 100px;
	height: 30px;
	border-radius: 50%;
	font-weight: bold;
	border: 2px solid #999;
	float: left;
	line-height: 30px;
	&:hover {
		border: 2px solid #F26E62;
	}
	p {
		&:hover {
			color: #F26E62;
		}
	}
}
footer {
	width: 100%;
	height: 150px;
	margin: auto;
	min-width: 960px;
	color: #999;
	border-top: 1px solid #999;
	position: relative;
}
.bottom-logo {
	width: 100px;
	height: 60px;
	padding: 0 20px;
	padding-left: 20px;
	img {
		width: 80px;
		height: auto;
		&:hover {
			opacity: 80%;
			transition: all 0.4s;
		}
	}
}
.policy {
	float: left;
	width: 600px;
	height: 40px;
	padding: 5px;
	justify-content: space-between;
	align-items: center;
	p {
		float: left;
		font-size: 0.9em;
		&:hover {
			font-weight: bold;
			cursor: pointer;
			opacity: 70%;
		}
	}
}
.c-info {
	float: left;
	width: 500px;
	height: 60px;
	padding-left: 120px;
	justify-content: space-between;
	align-items: center;
	line-height: 20px;
	p {
		float: left;
		font-size: 0.8em;
	}
}
.social {
	float: right;
	padding-right: 30px;
	width: 250px;
	height: auto;
	justify-content: space-between;
	align-items: center;
}
.s-icon {
	width: 50px;
	margin: auto;
	float: left;
}
.social-text {
	float: right;
	width: 250px;
	height: 40px;
	margin-top: -40px;
	p {
		font-weight: bold;
	}
}
.clear {
	clear: both;
}

// 임포트
@import "_added.scss";