.bodycolor {
  background-image: linear-gradient(#fff0f0, white);
}

header {
  z-index: 9;
}

header .dropdown-btn {
  width: 142px;
}

main {
  position: relative;
}

.table1 input[type=text]:hover {
  background-color: #eee;
}

#message {
  width: 100%;
}

#message .log {
  padding: 5px 10px;
  background-color: gray;
  color: white;
  font-size: 0.9em;
  text-align: center;
}

#message .log.info {
  background-color: gray;
}

#message .log.success {
  background-color: green;
}

#message .log.error {
  background-color: red;
}

.search {
  height: initial;
  margin-bottom: 25px;
  background-color: initial;
}

#searchBox {
  width: fit-content;
  min-width: 600px;
  max-width: 800px;
  height: initial;
  min-height: 150px;
}

#searchBox .search-top .pp1 {
  border-bottom: 2px solid #aaa;
}

#searchBox .search-top .pp1.active {
  color: #F26E62;
}

#searchBox .search-top .pp1:hover {
  border-bottom: 2px solid #F26E62;
}

#searchBox .search-top .pp1 > a {
  display: block;
  width: 100%;
  height: 100%;
}

#searchBox .table1 .bt {
  border: none;
  font-size: 1em;
  background-color: #F26E62;
  color: #fff;
  opacity: 70%;
  padding: 10px;
  border-radius: 10px;
}

#searchBox .table1 .bt:hover {
  cursor: pointer;
  transition: all 0.4s;
  opacity: 100%;
}

#searchBox .location {
  padding-bottom: 25px;
}

#searchBox .location ul::after, #searchBox .location::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

#searchBox .location ul > li:hover {
  cursor: pointer;
}

#searchBox .location .emp {
  background-color: yellow;
}

.k-product-cont .t-images {
  padding-bottom: 30px;
}

.main-event-img {
  background-color: black;
}

.main-event-img img {
  filter: brightness(0.85);
}

.main-event-write * {
  color: white;
  text-shadow: 0 0 2px black, 1px 1px 8px black;
}

.main-event-button {
  border-color: white;
}

.main-event-button input[type=button] {
  color: white;
}

.main-event-button input[type=button]:hover {
  cursor: pointer;
}

.second-right {
  background-color: white;
}

.detail-where {
  height: 244px;
}

.d-where-info p {
  line-height: 70px;
}

.detail-bottom-left {
  line-height: 1.6;
}

.intro-img {
  position: absolute;
  left: 0;
}

.topbox {
  display: flex;
  justify-content: center;
  position: relative;
  top: 0;
}

.intro-title {
  width: 640px;
  left: initial;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.intro-company {
  left: initial;
}
